.company-card{
    width: 800px;
    height: 150px;
    margin: 30px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px); 
    border-radius: 30px;
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out; 
}
.company-card:hover {
    transform: scale(1.06); 
  }
.name-and-location{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}
.main-details{
    margin: 15px;

}
.other-details{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.info{
    width: 300px;
}