.quotes-and-picture{
    height: 900px;
    width: 500px;
    /* background-color: #f7f7f7; */
    margin: 50px;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 0 0 1rgba(0, 0, 0, 0.2);
  outline: none;
}

.title-and-options{
  padding-left: 55px;
}
.jobs-wrapper{
  height: 1100px;
}
.job-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.h1{
  margin-left: 50px;
}
.pannel-and-list{
    display: flex;
}

/* MAKE AN EXPERIENCE BY EXPLORING */
.quotes{
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 40px;
    color: #000000;
    margin:30px;
}
.jobs-list{
    overflow: scroll;
    height: 900px;
    overflow-x: hidden;
    margin-top: 50px;
}

.jobs-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .jobs-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  .jobs-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  .jobs-list::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
  }
  .jobs-list::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }

