.friends-list{
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
}
.animations-and-list{
    display: flex;
}
.friends-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .friends-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  .friends-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  .friends-list::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
  }
  .friends-list::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }